@page "/analysis"
@layout AuthorizedLayout

<PageTitle>Анализ лейкоцитарных подфракций</PageTitle>
<PageHeader>Анализ лейкоцитарных подфракций</PageHeader>

<MudTabs>
    <MudTabPanel Text="Анализ">
        <div class="mt-3">
            <AnalysisTab />
        </div>
    </MudTabPanel>
    <MudTabPanel Text="Сохраненные результаты"/>
    <MudTabPanel Text="Фракционные плоскости"/>
</MudTabs>
